.flex-container1-res {
    display: flex;
    /* flex-flow: row wrap;   */
    flex-direction: column;
    height: flex;
    justify-content: center;
    padding: 15px;
  }
  
  .flex-container-res {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }
